/* defaults and resets */ 

@font-face {
  font-family: Karate;
  src: url(Karate.ttf);
}

@font-face {
  font-family: OpenDyslexicAlta-Regular;
  src: url(OpenDyslexicAlta-Regular.otf) format("opentype");
}

* {
  font: normal 20px OpenDyslexicAlta-Regular;
  color: #333;
}

a {
  text-decoration: none;
}

/* layout */

body, html {
  height:100% !important;
  margin: 0;
  padding: 0;
}

#root {
  min-height:100%;
  height: auto !important;
  overflow:hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

.main {
  display:flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}

.header {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  width: calc(100% - 2em);
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 16px #aaa;
  padding: 0 1em;
  background-color: #fff;
  z-index: 3;
}

nav h1 {
  font: 2em Karate, sans-serif;
  background-color: transparent;
}

nav ul.level-list {
  position: absolute;
  top: 80px;
  right: 2em;
  width: 200px;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 10px;
  list-style-type: none;
  padding: 1em;
}

nav ul.level-list li, nav ul.level-list li a {
  background-color: transparent;
}

nav .button {
  height: 60px;
  padding: 0 20px;
}

nav .button:focus {
  animation-name: none;
}

nav .button:after {
  background-color: #aaa;
}

.loading {
  background-color:#fff;
  border-radius:10px;
  color:#333;
  text-shadow:none;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

h1 {
  font: 100px Karate, sans-serif;
  background-color: transparent;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight:bold;
}

.wrapper {
  text-align: center;
  width: 50%;
  min-width: 400px;
  margin: 120px auto;
}

.button {
  background-color: #fff;
  color: #333;
  padding: 1em;
  border:solid 3px #333;
  border-radius: 5px;
  box-shadow:4px 4px 4px rgba(0,0,0,0.24);
}

a .button {
  text-decoration: none;
}

.button:hover {
  box-shadow:2px 2px 2px rgba(0,0,0,0.24);
}

.button:focus {
  -webkit-animation-name: colChange;
  -webkit-animation-duration: 2s;
  animation-name: colChange;
  animation-duration: 2s;
}

@keyframes colChange {
    from {background-color: #f66;}
    to {background-color: #fff;}
}

.button:after {
  background-color: #f66;
}

.button.correct:focus {
  -webkit-animation-name: correctChange;
  -webkit-animation-duration: 2s;
  animation-name: correctChange;
  animation-duration: 2s;
}

@keyframes correctChange {
  from {background-color: #0fa;}
  to {background-color: #fff;}
}

.button.correct:after {
  background-color: #0fa;
}
